<div class="container">
  <div>
    <h1> Stupid Coaching </h1>
  </div>

  <div>
    <label>Ask your coach anything:</label>
  </div>

  <div>
    <form action="answer">
      <input type="text" name="question" class="search-bar">
      <input type="submit" value="Ask" class="button">
    </form>
  </div>
</div>


